/*
*
* Header Styles
*
*/

@import mixins

header
    overflow hidden
    padding 10px 0
    border-bottom 1px solid $softGray

    div
        alignment()

    p
        float left

        a
            font-size 40px
            color $yellow

            &:visited
                color $yellow

            span
                color $gray

    ul
        float right

        li
            float left
            padding 15px 10px
            font-size 18px
