/*
*
* Mixins
*
*/

@import variables
@import sprite
@import sprite-retina

// Sprite Mixin
getSprite(sprite1x, sprite2x = false)
    sprite sprite1x

    if sprite2x
        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)

            spriteImage sprite2x
            background-size sprite1x[4] sprite1x[5]

// Element Alignment Mixin
alignment()
    width $pageWidth
    margin 0 auto
