header
    div
        p
            a(href='/', ng-show="lang == 'en'")!= 'Grabs<span>.in</span>'
            a(href='/tr', ng-show="lang == 'tr'")!= 'Grabs<span>.in</span>'
            a(href='/fr', ng-show="lang == 'fr'")!= 'Grabs<span>.in</span>'

        ul
            li
                a(href='https://github.com/sercaneraslan/grabs') Github

            li(ng-hide="lang == 'en'")
                a(href='/') English

            li(ng-hide="lang == 'tr'")
                a(href='/tr') Türkçe

            li(ng-hide="lang == 'fr'")
                a(href='/fr') Français
